body{
    text-align: center;
    font: 400 14px 'Quicksand', sans-serif !important;



    --sans-regular-font: 'Quicksand', sans-serif !important;
    --sans-medium-font: 'Quicksand', sans-serif !important;
    --sans-bold-font: 'Quicksand', sans-serif !important;



background-image: url(../img/bigbig.jpg);

padding-top: 70px;

  }


  .container{
    background: white;
    width: 70%;
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 100px;
  }



.para-style{
    font-size: 22px;
    line-height: 32px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font: 400 14px 'Quicksand', sans-serif !important;
}


.order-row{
    width: 100%;
    margin-bottom: 50px;
}



.order-row {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-row>.order-tile {
    flex-grow: 1;
    width: 33%;
    height: 100px;
  }


  .order-row>.order-tile-half {
    flex-grow: 1;
    width: 50%;
    height: 100px;
  }




  
  
  .order-row>.order-tile:nth-child(even),
  .order-row>.order-tile-half:nth-child(even) {
    background: #fddab4;
  }
  
  .order-row>.order-tile:nth-child(odd),
  .order-row>.order-tile-half:nth-child(odd) {
    background: #b9ebff;
  }



  .nav-style{
    background: #b9ebff;
    text-align: center;
    position: fixed;
width: 100%;
top: 0;
z-index: 10;
}





.owl-prev{
  position: absolute;
  left: 10px;
  font-size: 40px;
}


.owl-next{
  position: absolute;
  right: 10px;
  font-size: 40px;
}




.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{
  font-size: 40px !important;
}



.testimonials{
  height: 500px;
}


.owl-carousel.testimonials .owl-item img{
  width: auto;
}


.clearlocal{
  float: right;
}


.addlike{
  cursor: pointer;
}

.userinfo{
  position: fixed;
  top: 0;


  right: -270px;
  background-color: pink;

  background-image: url(../img/left-arrow.png);


  padding: 0 100px;
  width: 100px;


  transition: all .5s ease;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
  height: 100%;

}

.userinfo.expanded{
  background-image: url(../img/right-arrow.png);
  right: 0;
}


.userinfo .expander{
  position: absolute;
  top: 0;

  left: 0;
}


.map-container{
  position: fixed;
  top: 0;

  width: 50%;
  height: 100%;
  background: green; 
  transition: all .5s ease;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(../img/right-arrow.png);
  left: calc(-50% + 120px);
}


.map-container.expanded{
  background-image: url(../img/left-arrow.png);
  left: 0;
}


.addlike.liked{
background: red;
}


#map {
  height: 90%;
}