body{
    text-align: center;
    font: 400 14px 'Quicksand', sans-serif !important;



    --sans-regular-font: 'Quicksand', sans-serif !important;
    --sans-medium-font: 'Quicksand', sans-serif !important;
    --sans-bold-font: 'Quicksand', sans-serif !important;



background-image: url(../img/bigbig.jpg);

padding-top: 70px;

  }


  .container{
    background: white;
    width: 70%;
    margin: 50px auto 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }



.para-style{
    font-size: 22px;
    line-height: 32px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font: 400 14px 'Quicksand', sans-serif !important;
}


.order-row{
    width: 100%;
    margin-bottom: 50px;
}



.order-row {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-row>.order-tile {
    flex-grow: 1;
    width: 33%;
    height: 100px;
  }


  .order-row>.order-tile-half {
    flex-grow: 1;
    width: 50%;
    height: 100px;
  }




  
  
  .order-row>.order-tile:nth-child(even),
  .order-row>.order-tile-half:nth-child(even) {
    background: #fddab4;
  }
  
  .order-row>.order-tile:nth-child(odd),
  .order-row>.order-tile-half:nth-child(odd) {
    background: #b9ebff;
  }



  .nav-style{
    background: #b9ebff;
    text-align: center;
    position: fixed;
width: 100%;
top: 0;
z-index: 10;
}