body{
    text-align: center;
    font: 400 14px 'Quicksand', sans-serif;
  }



.para-style{
    font-size: 22px;
    line-height: 32px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.order-row{
    width: 100%;
    margin-bottom: 100px;
}



.order-row {
    background: #aaa;
    display: flex;
    flex-wrap: wrap;
  }
  
  .order-row>.order-tile {
    flex-grow: 1;
    width: 33%;
    height: 100px;
  }


  .order-row>.order-tile-half {
    flex-grow: 1;
    width: 50%;
    height: 100px;
  }




  
  
  .order-row>.order-tile:nth-child(even),
  .order-row>.order-tile-half:nth-child(even) {
    background: #fddab4;
  }
  
  .order-row>.order-tile:nth-child(odd),
  .order-row>.order-tile-half:nth-child(odd) {
    background: #b9ebff;
  }