.TockWidgetWrapper .TockButtonWidgetContainer{    
    text-align: center !important;
    margin: 20px auto !important;
    }
    
    .TockWidgetWrapper .TockButton-buttonContainer{
      margin-top: 20px !important;
    }
    
    
    .TockWidgetWrapper .TockLogo-container,
    .TockLogo-container .TockButton-iconBlue{
      display:none !important;
    }
    
    
    .TockWidgetWrapper .TockButton-blue{
      background-color: #c11637 !important;
    font-family: 'Quicksand, sans-serif' !important;
    color: #ffffff;
    
    }
    
    
    
    .TockWidgetWrapper .TockButton-blue:hover{
      background-color: #86142a !important;
    }
    